*
!/modules
/modules/*
!/modules/demosymfonyformsimple
!/modules/demosymfonyformsimple/*
!/modules/demosymfonyformsimple/*/*
!/modules/demosymfonyformsimple/*/*/*
!/modules/demosymfonyformsimple/*/*/*/*
/modules/demosymfonyformsimple/vendor
/modules/demosymfonyformsimple/vendor/*
!/modules/mymodule
!/modules/mymodule/*
!/modules/mymodule/*/*
!/modules/mymodule/*/*/*
!/modules/mymodule/*/*/*/*
!/modules/mymodule2
!/modules/mymodule2/*
!/modules/mymodule2/*/*
!/modules/mymodule2/*/*/*
!/modules/mymodule2/*/*/*/*
!/modules/serviceexample
!/modules/serviceexample/*
!/modules/serviceexample/*/*
!/modules/serviceexample/*/*/*
!/modules/serviceexample/*/*/*/*
!/tools
!/tools/guard.php
!/.gitignore